/* ==========================================
   DOWNLOAD SECTION
   ========================================== */

.download-section {
    background-color: var(--primary-color);;
    padding: 2rem 1rem;
}

.download-container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.download-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1f2937;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.download-badges {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.download-badge {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-badge a {
    transition: opacity 0.2s;
    height: 100%;
    display: flex;
    align-items: center;
}

.download-badge a:hover {
    opacity: 0.8;
}

.download-badge img {
    object-fit: contain;
    height: 100%;
}

@media (min-width: 640px) {
    .download-section {
        padding: 3rem 2rem;
    }

    .download-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .download-title {
        font-size: 1.5rem;
        text-align: left;
        width: auto;
    }

    .download-badges {
        flex-direction: row;
        gap: 1.5rem;
        width: auto;
    }

    .download-badge {
        height: 3.5rem;
    }
}

/* ==========================================
   PROFESSOR REQUIREMENTS
   You can remove these, and it will still
   look fine.
   ========================================== */
.google-play-badge {
    width: 100%;
    height: 5.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}