/* ==========================================
   TOP BAR
   ========================================== */

.top-bar {
    background-color: var(--primary-color);;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
}

.top-bar-logo-wrapper {
    flex-shrink: 0;
}

.top-bar-logo {
    height: 3rem;
    width: auto;
}

.top-bar-login-btn {
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.top-bar-login-btn:hover {
    background-color: #ffffff;
    color: var(--primary-color);;
}

@media (min-width: 640px) {
    .top-bar {
        padding: 1.5rem 2rem;
    }

    .top-bar-logo {
        height: 3.5rem;
    }

    .top-bar-login-btn {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .top-bar-logo {
        height: 4rem;
    }
}